@import "tailwindcss";

@plugin "daisyui"{
     themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403F3F;
  --color-secondary:#D72050;
    --color-base-200: #f3f3f3;
    --color-base-300: #e7e7e7;
    --color-account: #706f6f;

    

}